
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

@section Scripts
{
    <script>
        (async() => {
            const url = '@Url.Content("~/api/register")?name=Tom&age=30';
            const url = '@Url.Content("~/api/register")';//若沒有值，則使用ApiController的預設值string name,int age = 20
            const response = await fetch(url);
            const result = await response.text(); 
            console.log(result);

        })();
    </script>
}